@import '~src/variables'

.wrapper
    font-family: $font-stack
    padding: 16px 0

    h3
        color: $primary-color
        padding-bottom: 24px
        padding-top: 32px
        font-weight: 600
        margin: 0px

form

    p
        margin: 0px

    .texto
        margin: 8px 0 16px 0
        display: block

        input
            vertical-align: center
            padding: 4px 8px
            border: 1px solid #BBBBBB
            border-radius: 4px

        span
            vertical-align: center
            margin-right: 8px

    .items
        margin-bottom: 32px

        .item
            padding: 4px 0px
            cursor: pointer
            display: inline-block

            input
                vertical-align: middle

            span
                vertical-align: middle
                margin-left: 8px

    .error
        color: red
        margin-top: 16px

.erroGeral
    margin: 32px 0 24px 0

button
        margin: 0px
        font-size: 16px
        padding: 8px 32px
        background: #7CC6FE
        border: none
        border-radius: 4px
        color: white
        cursor: pointer

        &:hover
            background: $primary-color-hover

        &:active
            background: $primary-color-pressed

        &:disabled
            cursor: default
            background: $primary-color-disabled