<div class="wrapper">

	<app-result-display></app-result-display>

	<h3>{{ titulo }}</h3>

	<app-votes-display [hidden]="mostrarVotacao"></app-votes-display>

	<form #voteForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="!mostrarVotacao">

		<div *ngIf="candidatos && candidatos.length > 0" class="items">
			<div *ngFor="let candidato of candidatos; first as isFirst">
				<label class="item">
					<input type="radio" name="restaurante" [value]="candidato._id" [(ngModel)]="selecionado">
					<span>{{ candidato._nome }}</span>
				</label>
				<br />
			</div>
		</div>

		<button type="submit" [disabled]="!selecionado && habilitado">Enviar</button>

	</form>
</div>