@import '~src/variables'
    
.wrapper

    section
        font-family: 'Raleway', sans-serif
        background: #eeeeee
        border-radius: 4px
        margin: 16px 0
        padding: 16px

        h4
            margin: 0px
            padding-bottom: 16px

            span
                border-bottom: 2px solid #7CC6FE

        p
            margin: 0px

        span.retry
            color: #7CC6FE
            cursor: pointer

            &:hover
                color: $primary-color-hover

            &:active
                color: $primary-color-pressed

            &:disabled
                color: default
                color: $primary-color-disabled